.loading-dialog {
	border: none;
	height: 100vh;
	width: 100%;
	background-color: transparent;
	&::backdrop {
		background-color: rgb(0 0 0 0.7);
		backdrop-filter: blur(6px);
	}
}

.center-grid {
	display: grid;
	height: 100%;
	width: 100%;
	place-content: center;
	background-color: transparent;
}
