#root {
	margin: 0 auto;
	text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

h1 {
	margin-right: auto;
}

.new-cards-button {
	align-self: center;
	padding: 1.5rem;
}

header {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	max-width: 1500px;
	margin: 0 auto;
	/* & > * { */
	/* 	margin: 0; */
	/* } */
}

main {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 0.5rem 2rem;

	@media (max-width: 1050px) {
		grid-template-columns: repeat(4, 1fr);
	}
	@media (max-width: 760px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media (max-width: 600px) {
		grid-template-columns: repeat(2, 1fr);
	}
}
